/*
============================================================================================== 
----------------------------------------- Fonts ----------------------------------------------
==============================================================================================
*/

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Roboto+Slab:wght@600;900&display=swap");

/*
============================================================================================== 
----------------------------------------- Variables ------------------------------------------
==============================================================================================
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-0: #0e0906;
  --clr-primary-1: #271911;
  --clr-primary-2: #3f291b;
  --clr-primary-3: #583926;
  --clr-primary-4: #704930;
  /* primary/main color */
  --clr-primary-5: #89593b;
  /* lighter shades of primary color */
  --clr-primary-6: #a16845;
  --clr-primary-7: #b67954;
  --clr-primary-8: #c08c6c;
  --clr-primary-9: #cb9f85;
  --clr-primary-10: #d5b39d;
  --clr-primary-11: #e0c6b6;
  --clr-primary-12: #f5ece7;

  /* grey */
  --clr-grey-0: #1d1a1a;
  --clr-grey-1: #2e2a2a;
  --clr-grey-2: #3f3939;
  --clr-grey-3: #514949;
  --clr-grey-4: #625858;
  --clr-grey-5: #736868;
  --clr-grey-6: #847777;
  --clr-grey-7: #938888;
  --clr-grey-8: #a39999;
  --clr-grey-9: #b2aaaa;
  --clr-grey-10: #c1bbbb;
  --clr-white: #fff;
  --ff-primary-headings: "Roboto Slab", serif;
  --ff-primary: "Noto Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
============================================================================================== 
----------------------------------------- Global Styles --------------------------------------
==============================================================================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary-headings);
  color: var(--clr-primary-2);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h3,
h4 {
  font-weight: 600;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-family: var(--ff-primary);
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
============================================================================================== 
---------------------------------------- Global Classes --------------------------------------
==============================================================================================
*/
/* ------------------------------------ Buttons --------------------------------------- */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-0);
  color: #ffc300;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: var(--clr-primary-2);
  color: #ffc300;
}
/* ------------------------------------ Sections --------------------------------------- */
.section {
  padding: 5rem 0;
}
.section-title {
  font-family: var(--ff-primary-headings);
  color: var(--clr-primary-2);
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* -------------------------------------------------------------------------------------- */

/*
============================================================================================== 
----------------------------------------- Navbar ---------------------------------------------
==============================================================================================
*/
.navbar {
  background: var(--clr-primary-10);
}
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-primary-10) !important;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.69);
  z-index: 1;
}
.fixed-navbar .nav-link,
.fixed-navbar .nav-icon {
  color: var(--clr-primary-2);
}
.fixed-navbar .nav-link:hover,
.fixed-navbar .nav-icon:hover {
  background: var(--clr-primary-7);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header,
.links-container {
  display: flex;
  justify-content: space-between;
}
.nav-header {
  display: flex;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.nav-logo {
  padding: 1rem;
}
.nav-btn {
  padding: 1.7rem;
  color: var(--clr-grey-1);
  font-size: 30px;
  border: none;
  background: transparent;
  transition: var(--transition);
}
.nav-btn:hover {
  transform: scale(1.3);
}
.nav-links,
.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.nav-link,
.nav-icon {
  display: block;
  font-family: var(--ff-primary-headings);
  color: var(--clr-primary-1);
  transition: var(--transition);
  letter-spacing: 0.12rem;
}
.nav-link:hover,
.nav-icon:hover {
  background: var(--clr-primary-7);
  border-radius: 0.3rem;
}
.nav-link {
  font-size: 17px;
  padding: 0.6rem;
}
.contact-link {
  width: 130px;
}
.nav-icon {
  font-size: 30px;
  padding: 0 0.5rem 0 0.8rem;
}
.show-links {
  height: 300px;
}

@media screen and (min-width: 768px) {
  .nav-logo {
    margin-left: 1rem;
  }
  .nav-btn {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 882px) {
  .navbar {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-logo {
    margin-left: 0;
  }
  .nav-btn {
    display: none;
  }
  .links-container {
    height: auto !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-links,
  .nav-icons {
    flex-direction: row;
  }
  .nav-links {
    padding-bottom: 0;
  }
  .nav-icons {
    padding-top: 0;
  }
  .nav-link,
  .nav-icon {
    color: var(--clr-primary-9);
  }
  .nav-link:hover,
  .nav-icon:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-7);
  }
}
@media screen and (min-width: 1035px) {
  .nav-links {
    padding-bottom: 1rem;
  }
  .nav-icons {
    padding-top: 1rem;
  }
}

/*
============================================================================================== 
----------------------------------------- Hero -----------------------------------------------
==============================================================================================
*/
header {
  background: var(--clr-primary-2);
}
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  padding: 0 1rem;
}
.hero-banner h1 {
  color: var(--clr-primary-9);
  text-transform: uppercase;
}
.hero-banner h3 {
  background: var(--clr-primary-6);
  color: var(--clr-primary-0);
  width: 15rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: var(--radius);
  font-weight: 600;
}
.hero-banner p {
  max-width: 35rem;
  color: var(--clr-primary-7);
  padding-bottom: 0.5rem;
}
.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  border-radius: 0.7rem;
}
.hero-btn:hover {
  background: var(--clr-primary-4);
}
@media screen and (min-width: 768px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./images/background.jpeg") center/cover no-repeat fixed;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    font-weight: bold;
    max-width: 55rem;
    padding-bottom: 0;
    letter-spacing: 0.1rem;
  }
}
/*
============================================================================================== 
----------------------------------------- About Us -------------------------------------------
==============================================================================================
*/

#about {
  background: var(--clr-primary-12);
}
.image-container {
  padding-bottom: 3rem;
}
.image-container img {
  border-radius: 0.5rem;
}
.text-container h2 {
  padding-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text-container h2 {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .image-container,
  .text-container {
    padding: 1.5rem;
  }
  .about-center {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .image-container,
  .text-container {
    padding: 2.4rem;
  }
}
/*
============================================================================================== 
----------------------------------------- Our Services ---------------------------------------
==============================================================================================
*/

#services {
  padding-bottom: 7rem;
}
.services-center {
  width: 90vw;
}
.single-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.2rem;
  transition: var(--transition);
}
.single-service:hover {
  background: var(--clr-primary-11);
}
.service-icon {
  margin-bottom: 0.3rem;
  font-size: 30px;
}
.service-title {
  font-size: 28px;
  font-weight: 600;
}
.service-text {
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .single-service {
    padding: 2rem;
  }
  .service-icon {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .single-service {
    display: flex;
  }
}
/*
============================================================================================== 
----------------------------------------- Featured Products ----------------------------------
==============================================================================================
*/

#featured {
  background: var(--clr-primary-12);
}
.single-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: var(--transition);
  background: var(--clr-primary-10);
  box-shadow: var(--light-shadow);
  margin-bottom: 2rem;
  border-radius: var(--radius);
}
.single-product:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.img-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-text {
  padding: 1rem 2rem;
  text-align: center;
}
.card-text h3 {
  font-size: 2rem;
  font-weight: 600;
}
.product-price {
  padding: 0.2rem 1rem;
  display: flex;
  align-self: center;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  border-radius: 0.4rem;
}
.card-btns {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.card-btn {
  width: 120px;
  text-align: center;
  border-radius: 0.4rem;
}
.featured-center {
  display: grid;
  row-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .card-text h3 {
    font-size: 1.75rem;
  }
  .card-text {
    margin-top: 0.75rem;
  }
  .featured-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 3rem 3rem;
  }
}

/* details/buy styling */

/*
============================================================================================== 
----------------------------------------- Our Stores -----------------------------------------
==============================================================================================
*/

.locations-title {
  margin-bottom: 0;
}

.locations-info {
  padding: 1.5rem 0;
}

.single-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem 0;
}

.location-image-container {
  max-height: 350px;
  max-width: 350px;
}
.location-info {
  padding-top: 1rem;
  text-align: center;
  letter-spacing: 0.15rem;
}
.service-options {
  color: silver;
}
.location-address {
  color: var(--clr-grey-4);
}
.location-phone-number {
  color: black;
  font-weight: bold;
}
.map-container h3 {
  text-align: center;
  padding-bottom: 0.5rem;
}
.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 992px) {
  .locations-info {
    display: flex;
  }
  .single-location {
    padding: 0 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .locations-info {
    padding-bottom: 3rem;
  }
}
/*
============================================================================================== 
----------------------------------------- Countact Us ----------------------------------------
==============================================================================================
*/

#contact {
  background: var(--clr-primary-12);
}
.contact-address-container p {
  color: black;
  font-weight: bold;
}
.opening-hours-table th {
  padding-right: 1rem;
  font-family: var(--ff-primary-headings);
  font-size: 17px;
  text-align: left;
  color: var(--clr-primary-2);
}
.opening-hours-table td {
  font-size: 14.5px;
  font-weight: bold;
  padding-left: 3rem;
}
.form-container {
  max-width: 30rem;
  padding-top: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--clr-primary-8);
  border-radius: 0.5rem;
}
.form-title {
  text-align: center;
}
.label {
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  font-family: var(--ff-primary-headings);
  font-size: 19px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}
.input {
  font-family: var(--ff-primary);
  font-size: 18px;
  outline: none;
  padding: 0.6rem 0.7rem;
  border: transparent;
  border-radius: 5px;
}
.description {
  font-size: 15.5px;
}
.description-label {
  color: var(--clr-primary-2);
}
textarea {
  min-width: 255px;
  min-height: 170px;
}
.submit {
  padding-bottom: 0.5rem;
}
.submit-btn {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .contact-center {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 60rem;
  }
  .contact-address-container div {
    margin-bottom: 2.7rem;
  }
  .form-container {
    padding-top: 0;
  }
  .form {
    padding: 1rem 2.5rem;
  }
  .form-title {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .form {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-center {
    justify-content: space-between;
  }
}

/*
============================================================================================== 
----------------------------------------- Footer ---------------------------------------------
==============================================================================================
*/

.footer {
  display: flex;
  flex-direction: column;
  background: var(--clr-primary-1);
}

.footer-links-and-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.footer-links {
  max-width: 500px;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary-headings);
}
.footer-link {
  padding: 0.5rem;
  color: var(--clr-primary-11);
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary-8);
}

.footer-icons {
  display: flex;
  align-items: center;
}
.footer-icon {
  color: var(--clr-primary-6);
  padding: 0 10px;
  font-size: 27px;
}
.footer-icon {
  color: var(--clr-primary-7);
  transition: var(--transition);
}
.footer-icon:hover {
  color: var(--clr-primary-11);
}

.bottom-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.bottom-text-container p {
  margin: 0;
  padding: 0 1rem 0.5rem 1rem;
  text-align: center;
  color: var(--clr-primary-11);
  letter-spacing: 0.1rem;
}
.bottom-text-container a {
  font-family: var(--ff-primary-headings);
  color: var(--clr-primary-6);
  transition: var(--transition);
}
.bottom-text-container a:hover {
  color: var(--clr-primary-11);
}
